<!-- NAVIGATION -->
<nav id="navigation">
	<span onclick="loadMain('dynamic_pages/contract.html')">Contract</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/introduction.html')">Introduction</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/brand.html')">Brand</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/swtl_homepage.html')">SWTL-JavaScript</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/fizzbuzz_homepage.html')">All FizzBuzz</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/delta.txt')">Delta</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/echo.txt')">Echo</span>&nbsp;
</nav>	
<hr>
<br>